pkgbase = vantapaper-git
	pkgdesc = HDR-correct Hyprland wallpaper daemon with true blacks on OLED
	pkgver = r0.0
	pkgrel = 1
	url = https://github.com/Waltherion/vantapaper
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-shadertools
	makedepends = wayland-protocols
	makedepends = pkgconf
	depends = qt6-base
	depends = qt6-wayland
	depends = layer-shell-qt
	depends = libavif
	depends = libjxl
	depends = libheif
	depends = libultrahdr
	depends = lcms2
	depends = wayland
	depends = vulkan-icd-loader
	provides = vantapaper
	conflicts = vantapaper
	source = git+https://github.com/Waltherion/vantapaper.git
	sha256sums = SKIP

pkgname = vantapaper-git
